data/*
!data/.gitkeep

results/checkpoints/*
results/outputs/*
!results/checkpoints/.gitkeep
!results/outputs/.gitkeep
!results/inference/.gitkeep
results/*

save_epoch/*
models/*.pt

plotting/results/*
plotting/resources/*

*.out
__pycache__/*